<h1 class="h1">Select Teacher For This Class</h1>
<ul class="breadcrumb">
  <li>
    <a [routerLink]="['/admin']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/admin', 'school-class']">View Classes</a>
  </li>
  <li>
    Assign Teacher to class
  </li>
</ul>
<div class="form-container">
  <form>
    <mat-selection-list [multiple]="false" #teachers>
      <mat-list-option *ngFor="let teacher of (teacherList$ | async)" [value]="teacher.Id">
        {{ teacher.FirstName | uppercase }} {{ teacher.LastName | uppercase }}
      </mat-list-option>
    </mat-selection-list>

    <div style="padding-left: 20px;" *ngIf="teachers.selectedOptions.selected.length > 0">
      <mat-divider></mat-divider>
      <br />
      <p>You've Selected</p>
      <p *ngFor="let teacher of teachers.selectedOptions.selected">
        {{ teachers.selectedOptions.selected.length }} Teacher(s)
      </p>
    </div>

    <p>
      <button (click)="assignTeacherToClass(teachers.selectedOptions.selected[0].value)"
        type="button"
        mat-raised-button color="primary">Submit</button>
    </p>
  </form>
</div>
