<mat-nav-list>
  <a mat-list-item *ngIf="data.TeacherName">
    <span mat-line>Teacher</span>
    <span mat-line class="primary">{{ data.TeacherName | uppercase }}</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item *ngIf="data.GivenDate">
    <span mat-line>Given On</span>
    <span mat-line class="primary">{{ data.GivenDate | date : 'short' }}</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item *ngIf="data.DueDate">
    <span mat-line>Due On</span>
    <span mat-line class="primary">{{ data.DueDate | date : 'short' }}</span>
  </a>
</mat-nav-list>
