<h1 class="h1">Add Subject(Bulk)</h1>
<ul class="breadcrumb">
  <li>
    <a [routerLink]="['/admin']">Home</a>
  </li>
  <li>
    Add Subject Bulk
  </li>
</ul>
<p>**Upload an excel file in this format</p>
<p>
  <a [ngClass]="['anchor']" href="../../../assets/CLASS_BULK_SAMPLE.xlsx" download="subject_list_sample.xlsx">
    Download Sample
  </a>
</p>

<form>
  <input type="file" #excelFileUpload/>
  <p>
    <button type="button"
      mat-raised-button color="accent"
      (click)="excelFileUpload.click()">Upload File</button>
  </p><br>

  <mat-divider></mat-divider>

  <p>
    <button type="button"
      (click)="uploadFile()"
      mat-raised-button
      color="primary">Submit</button>
  </p>
</form>

<div class="form-container" *ngIf="excelFileUpload?.files.length > 0">
  <app-excel-sheet-preview [fileSelector]="excelFileUpload.files[0]"></app-excel-sheet-preview>
</div>
