<h1 class="h1">Subject Topics</h1>
<ul class="breadcrumb">
  <li>
    <a [routerLink]="['/teacher']">Home</a>
  </li>
  <li>View Subject Topics</li>
</ul>
<div class="form-container">
  <form [formGroup]="subjectSelectionForm" (ngSubmit)="submitForm()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
          <mat-select [formControlName]="'subject'">
            <mat-option *ngFor="let subject of (subjectList$ | async)"
              [value]="subject.Id">
              {{ subject.Name }}({{ subject.ClassCategory }})
            </mat-option>
        </mat-select>
        <mat-hint class="text-danger" *ngIf="subjectSelectionForm.get('subject').touched
                                        && subjectSelectionForm.get('subject').invalid">
          <span *ngIf="subjectSelectionForm.get('subject').errors['required']">
            This field is required
          </span>
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <button type="submit"
        [disabled]="subjectSelectionForm.invalid"
        mat-raised-button
        color="primary">Submit</button>
    </p>
  </form>
  <div *ngIf="subjectSelectionForm.valid && dataSource?.length > 0">
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="S/N">
        <th mat-header-cell *matHeaderCellDef> S/N </th>
        <td mat-cell *matCellDef="let element"> {{element.SerialNumber}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.CreatedBy | uppercase}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="DateCreated">
        <th mat-header-cell *matHeaderCellDef> Date Created </th>
        <td mat-cell *matCellDef="let element"> {{element.DateCreated | date : 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" [matMenuTriggerFor]="actionMenu">Manage</button>
            <mat-menu #actionMenu="matMenu" xPosition="before">
              <a [routerLink]="['/teacher', 'manage-topic', 'update-topic', element.Id]"
               mat-menu-item>
               <mat-icon>edit</mat-icon> Update Topic
              </a>
              <button mat-menu-item (click)="deleteTopic(element.Id)">
                <mat-icon>delete_forever</mat-icon> Delete
              </button>
            </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<app-no-content-found *ngIf="subjectSelectionForm.get('subject').value && dataSource?.length < 1"></app-no-content-found>

<app-no-input-selected *ngIf="!subjectSelectionForm.get('subject').value"></app-no-input-selected>
