<ul class="breadcrumb">
  <li>
    <a [routerLink]="['/teacher']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/teacher', 'manage-exam', 'view-exams']">
      View Exams
    </a>
  </li>
  <li>
    View Exam Submissions
  </li>
  <li>
    View Exam Submission
  </li>
</ul>

<div class="full-width" *ngIf="examSubmissionId && totalScoreExpected">
  <a mat-raised-button color="accent" (click)="openDialog()">
    <mat-icon>grade</mat-icon> Grade
  </a>
</div>

<app-pdf-document-preview
        *ngIf="attachedFileUrl; else defaultTemplate"
        [fileURL]="attachedFileUrl"></app-pdf-document-preview>

<ng-template #defaultTemplate>
  <app-no-content-found></app-no-content-found>
</ng-template>
