<h1 class="h1">CA Test Tracking Images</h1>
<ul class="breadcrumb">
  <li>
    <a [routerLink]="['/teacher']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/teacher', 'manage-test', 'view-tests']">
      View CA Tests
    </a>
  </li>
  <li>
    Track Test Participants
  </li>
  <li>CA Test Tracking Images</li>
</ul>
<div class="form-container" *ngIf="(imageUrlList$ | async)?.length > 0; else defaultTemplate">
  <mat-card *ngFor="let image of (imageUrlList$ | async)"
   (click)="openImageDialog(image.Url)">
    <img [src]="image.Url"/>
  </mat-card>
</div>

<ng-template #defaultTemplate>
  <app-no-content-found></app-no-content-found>
</ng-template>
